<% @listings.each do |listing| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to listing.title, listing %><br>
      <small class="author">
      	Open Now<br>
      	<%= listing.area%>, <%= listing.city%><br>
      	4.7 Stars<br>
      	3.2 kms Away<br>
      </small>
    </h2>

  </div>
<% end %>