<% @listings.each do |listing| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to listing.title, listing %><br>
      <small class="author">Submitted <%= time_ago_in_words(listing.created_at) %> by <%= listing.user.email %></small>
    </h2>

  </div>
<% end %>