$white: #fff;
$black: #202020;
$grey: #808080;
$background: #c3c8c9;
$pink: #FF6C8B;
$orange: #FFAC40;

$default-border: 1px $background solid;

// Basics
body {
  /*background-color: $background;*/
  font-family: 'Roboto Condensed';

}

.container_listing {
  margin: 0 auto;
  background-color: $white;
  max-width: 400px;
  max-height: 750px;
  overflow: hidden;
  box-shadow: 0px 0px 20px $black;
  margin-top: 0em;
  color: $black;
}



// Header
.show_header {
  background: url(https://www.hdoboi.org/large/201307/230.jpg) no-repeat;
  background-size: cover;
  position: relative;
  min-height: 230px;
  margin-bottom: 40px;
}


.name {
  font-size: 1.2em;
}

.profile-pic-container_listing {
  bottom: -50px;
  left: calc(50% - 60px);
  position: absolute;
  
}


.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid $white;
  box-shadow: 0 0 5px $black;
}
.cover-pic {
  
  height: 230px;
 
}

.main_listing{
  padding-top: 20px;
}

.description_listing_title{

  padding: 0.5em 2em;
  text-align: center;
  font-size: 24px;
}

.description_listing{

  padding: 0.5em 1em;
  text-align: center;
  font-size: 18px;
}
.tag_listing{

 display: inline-block;
  
}
.stats-container_listing{
  padding-bottom: 0.5em;
  border-bottom: $default-border;
}

.stat_listing{
  display: inline-block;
  width: 32%;
  text-align: center;
  border-right: $default-border;
  
  &:last-child{
    border:none;
  }
  
  &.active{
    color: $orange;
    
    .text{
      color: $orange;
    }
  }
}
.stat_listing_last{
  display: inline-block;
  width: 32%;
  text-align: center;
  border-right: none;
  
  &:last-child{
    border:none;
  }
  
  &.active{
    color: $orange;
    
    .text{
      color: $orange;
    }
  }
}

.text_listing{
  color: $grey;
  font-weight: 100;
  font-size: 0.8em;
  text-transform: uppercase;
}

.view-options{
  border-bottom: $default-border;
}



.further_details{
  margin-top: 20px;
}

//listing
.border_listing {
  height: 6px;
  border: 0;
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.wrapper_listing {
  width: 750px;
  max-width: 90%;
  margin: 0 auto; }

.main_header_listing {
  margin: 2em 0 2em 0; }

.logo_listing img {
  width: 75px;
  float: left; }
.logo_listing h1 {
  float: center;
  margin: 0 0 0 1em;
  text-transform: uppercase;
  font-size: 1.35em;
  padding-top: 1.1em;
  color: #34324b; }




#timeline {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0; }
  #timeline a {
    text-decoration: none; }
  
  #timeline .listing {
    background: #FFF;
    border: 1px solid #e6e7e9;
    border-radius: .3rem;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
    display: table;
    width: 96%;
    transition: all .3s ease-in-out; }
    #timeline .listing img, #timeline .listing .info, #timeline .listing .job_type {
      display: table-cell;
      vertical-align: middle;
      font-size: .9em;
      color: #74718f; }
    #timeline .listing .image_wrapper {
      width: 60px; }
      #timeline .listing .image_wrapper img {
        width: 60px;
        display: block;
        margin: 0 auto;
        border-radius: .25em; }
    #timeline .listing .info {
      line-height: 1.25;
      width: 640px;
      padding-left: 25px; }
      #timeline .listing .info .job_title {
        font-weight: 700;
        color: #34324b;
        text-decoration: none;
        font-size: 1.5em; }
      #timeline .listing .info .job_info {
        color: #74718f;
        margin-top: 10px;
        font-size: 1em;
        display: block; }
        #timeline .listing .info .job_info span {
          margin: 0 .75em; }
    #timeline .listing .job_type {
      text-transform: uppercase;
      font-weight: 700;
      font-size: .75em;
      position: relative;
      white-space: nowrap;
      padding-top: 0.6em;
      width: 100px; }
      #timeline .listing .job_type:before {
        content: " ";
        background: #a378fc;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        position: absolute;
        left: -20px;
        top: 28px; }
    #timeline .listing .full_time {
      color: #fd7576; }
      #timeline .listing .full_time:before {
        background: #fd7576; }
    #timeline .listing .part_time {
      color: #fec85d; }
      #timeline .listing .part_time:before {
        background: #fec85d; }
    #timeline .listing .freelance {
      color: #4db8de; }
      #timeline .listing .freelance:before {
        background: #4db8de; }
    #timeline .listing .contract {
      color: #a378fc; }
      #timeline .listing .contract:before {
        background: #a378fc; }
    #timeline .listing:hover {
      cursor: pointer;
      box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1); }
  #timeline .date {
    display: inline-block;
    padding: 0.6rem 0;
    width: 100px;
    background: #FFF;
    border: 1px solid #E9E9E9;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 0.65rem;
    text-align: center;
    margin-bottom: 1.5rem;
    z-index: 2;
    position: relative;
    margin: 1em 0 2em 0; }
