$main: #252529;
$secondary: #8b8b9f;
$highlight:	#73e298;
$white: #FFFFFF;
$dark_grey: #3f3d4e;
$grey_background: #f2f1f8;
$grey_copy: #b9b7c6;
$dark_grey: #3f3d4e;

.container{
	 border-top: none !important; 
}
.tagitem h2{
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	line-height: 90px
}
.tagitem img{
	 display:block;
    margin:auto;
}
.tagtitle{

}
/* Pin Styles */

body {
	/*background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;*/
}



#services {

	
	padding: 2rem 0 2rem 0;
	position: relative;
	.service {
		background: $white;
		width: 38%;
		height: 250px;
		float: left;
		margin: 5% 5% 0 5%;
		padding: 3rem 2.5%;
		text-align: center;
		position: relative;
		-webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
		-moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	  border-radius: .35rem;
	  h3 {
	  	margin-top:  10px;
	  	font-size: 2rem;
	  	color: $dark_grey;
	  }
	  p {
	  	margin: 0 0 2rem 0;
	  	color: $dark_grey;
	  	text-align: left;
	  	padding-left: 20px;
	  }
	  .button {
	  	padding: .5rem 2rem;
	  }
	  
	}

	
	
}
.wrapper{
		margin-left: 4%;
	}
